.home {
    min-height: 672px;
    background: url(icons/logo.svg);
    background-repeat: no-repeat;
    background-color: #d1c4e9;
    background-attachment: fixed;
    background-position: center;

    form {
        // center horizontally
        width: 100%;
        text-align: center;
        @include media($medium-screen-up) {
            max-width: $medium-screen;
        }
        padding: 0 2rem 0 2rem;

        // center vertically
        height: 10rem;
        margin: auto;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        input {
            @include span-columns(8);
            font-size: rem(20);
        }
        button {
            @include span-columns(4);
            font-size: rem(20);
        }
    }
}
