<template name="settings">
  <div class="settings">
    {{#if authorized}}
      <h1 class="settings-header">Configure Jukebox</h1>
      {{> settingsForm}}
    {{else}}
      {{> settingsModal}}
    {{/if}}
  </div>
</template>

<template name="settingsForm">
  <div class="settings-form">
    <form>
      <fieldset>
        <h4>Password Settings</h4>
        <button id="changePassword" type="button">{{passwordText}}</button>
        <div class="change-section">
          <label>Please enter a password that will be used to access this settings page
            <input type="PASSWORD" placeholder="Password" />
          </label>
          <button id="savePassword" type="submit">Save Password</button>
          <button id="cancelPassword" type="button">Cancel</button>
        </div>
      </fieldset>
      <fieldset>
        <h4>Player Settings</h4>
        <div class="player-setting show-who-added">
          <label>Show who added the song to the playlist</label>
          <p>Switch this on to show the name of the user who added the song next to the song's name.</p>
          <label class="label-switch">
            <input type="checkbox" {{showWhoAddedCheckbox}} />
            <div class="checkbox"></div>
          </label>
          <p class="saved">Saved.</p>
        </div>
        <div class="player-setting downvotes">
          <label>Enable down votes</label>
          <p>If enabled, songs in the playlist can be voted both up and down. Disabling this option will disable songs from being voted off.</p>
          <label class="label-switch">
            <input type="checkbox" {{downvotesCheckbox}} />
            <div class="checkbox"></div>
          </label>
          <p class="saved">Saved.</p>
        </div>
        <div class="player-setting able-to-vote-off">
          <label>Enable a song to be voted off</label>
          <p>If switched on, a song may be voted off the playlist completely if all users vote a song down. Enabling this option will also enable down votes.</p>
          <label class="label-switch">
            <input type="checkbox" {{ableToVoteOffCheckbox}} />
            <div class="checkbox"></div>
          </label>
          <p class="saved">Saved.</p>
        </div>
      </fieldset>
    </form>
  </div>
</template>

<template name="settingsModal">
  <div class="modal">
    <div class="modal-inner">
      <h1>Password Required</h1>
      <p class="body">A password is required to access this page.</p>
      <p class="error">Incorrect password.</p>
      <p class="forgot-password">{{forgotPassword}}</p>
      <form class="reset-password-form">
        <label>Are you sure? If you're not the one who set the password, you may make some enemies in the office by resetting this!</label>
        <button>Reset Password</button>
      </form>
      <form class="modal-form">
        <input autofocus type="PASSWORD" placeholder="Password" />
        <div class="buttonrow">
          <button type="submit">Accept</button>
          <button type="button">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</template>
