.player {
  text-align: center;
  $seek-bar-color: $base-background-color;
  $progress-bar-color: $deep-orange;
  $disabled-color: $medium-gray;
  $seek-bar-height: $base-line-height / 4;

  @include outer-container;
  max-width: none;

  // for all player buttons
  li.player-button {
    @include span-columns(4);
    @include pad;
  }
  li.ff-next {
    @include omega;
  }
  // special css for forward ten button because it comes from a different icon
  // set than the rest of them
  .fi-rewind-ten {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  // so that the hover areas are larger
  .playpause, .ff-next, .vendor-icon, .ff-ten {
    &:hover {
      cursor: pointer;
    }
  }
  // disabled player button state
  &.disabled .playpause, &.disabled .ff-next, &.disabled .vendor-icon, &.disabled .ff-ten {
    &:hover {
      cursor: default;
    }
    i {
      color: $disabled-color;
      &:hover {
        cursor: default;
      }
    }
  }

  // seek bar and progress bar
  .seek-bar {
    @include span-columns(12, block-collapse);
    position: relative;
    height: $seek-bar-height;
    background-repeat: repeat-x;
    background-color: $seek-bar-color;
    .progress-bar {
      display: block;
      width: 0%;
      height: 100%;
      background-color: $progress-bar-color;
    }
  }
  &.disabled .seek-bar {
    background-color: $disabled-color;
  }
}
