.chat {
    @include span-columns(6);
    position: fixed;
    top: rem(56);
    left: rem(20);
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
    .messages {
        min-height: 90%;
    }
}
