$top-bar-height: rem(64);
$top-bar-height-mobile: rem(56);
html, body {
    height: 100%;
}
.player-page {
    $page-left-right-padding: rem(20);
    width: 100%;
    height: 100%;
    @include transition-property(all);
    @include transition-timing-function(ease);
    @include transition-duration(0.5s);
    .content {
        @include outer-container;
        max-width: none;
        height: 100%;
        padding: $top-bar-height-mobile $page-left-right-padding 0;
    }
    &.search-open {
        @include transform(translateX(-50%));
    }
}
.top-bar {
    $top-bar-padding: rem(16);
    $top-bar-background: $base-accent-color;
    $horizontal-bar-mode: $large-screen;
    $flip-transition-time: 0.5s;

    z-index: 10;
    display: inline;
    position: fixed;
    right: 0;
    background-color: $top-bar-background;
    box-shadow: .05rem .05rem .2rem black;
    height: $top-bar-height-mobile;
    width: 100%;
    padding: $top-bar-padding;

    // left side contains the player
    .left-side {
        position: absolute;
        display: inline-block;
    }

    // right side contains icons for chat, playlist, search
    .right-side {
        position: absolute;
        right: $top-bar-padding;
        display: inline-block;
        ul {
            display: inline;
            li {
                display: inline-block;
            }

            // tabs
            li.tab {
                border-bottom: rem(3) solid $base-accent-color;
                // pushes the border to the bottom of the bar
                padding-bottom: rem(13);
                &:hover {
                    cursor: pointer;
                    border-color: darken($base-secondary-color, 20);
                }
                @include media($medium-screen-up) {
                    display: none;
                }
                &.selected {
                    border-color: $base-secondary-color;
                }
            }
        }
    }

    // Icons
    i {
        color: $base-secondary-color;
        text-shadow: .05rem .05rem .2rem $dark-gray;
        &:hover {
            cursor: pointer;
        }
    }

    .search-icon {
        &:hover {
            cursor: pointer;
        }
        .not-flipped {
            @include transform(rotateY(0deg));
            @include transform-origin(center top);
            @include transform-style(preserve-3d);
            @include transition-property(transform);
            @include transition-duration($flip-transition-time);
            @include transition-timing-function(linear);
        }
        .flipped {
            @include transform(rotateY(180deg));
            @include transform-origin(center top);
            @include transform-style(preserve-3d);
            @include transition-property(transform);
            @include transition-duration($flip-transition-time);
            @include transition-timing-function(linear);
        }
    }
}
