.player {
  text-align: center;
  $seek-bar-color: $base-background-color;
  $progress-bar-color: $deep-orange;
  $disabled-color: $medium-gray;
  $seek-bar-height: $base-line-height / 4;

  @include outer-container;
  max-width: none;

  // for all player buttons
  li.player-button {
    @include span-columns(4);
    @include pad;
  }
  li.forward-fifteen {
    @include omega;
  }
  // so that the hover areas are larger
  .playpause, .forward-fifteen, .vendor-icon, .backward-fifteen {
    &:hover {
      cursor: pointer;
    }
  }
  // disabled player button state
  &.disabled .playpause, &.disabled .vendor-icon,
  &.disabled .forward-fifteen, &.disabled .backward-fifteen {
    &:hover {
      cursor: default;
    }
    i {
      color: $disabled-color;
      &:hover {
        cursor: default;
      }
    }
  }

  // seek bar and progress bar
  .seek-bar {
    @include span-columns(12, block-collapse);
    position: relative;
    height: $seek-bar-height;
    background-repeat: repeat-x;
    background-color: $seek-bar-color;
    .progress-bar {
      display: block;
      width: 0%;
      height: 100%;
      background-color: $progress-bar-color;
    }
  }
  &.disabled .seek-bar {
    background-color: $disabled-color;
  }
}
