.player-page {

}
.top-bar {
    $top-bar-padding: rem(16);
    $top-bar-background: $base-accent-color;
    $top-bar-height: rem(64);
    $top-bar-height-mobile: rem(56);
    $horizontal-bar-mode: $large-screen;
    $flip-transition-time: 0.5s;

    display: inline;
    position: fixed;
    background-color: $top-bar-background;
    box-shadow: .05rem .05rem .2rem black;
    height: $top-bar-height-mobile;
    width: 100%;
    padding: $top-bar-padding;

    // left side contains the player
    .left-side {
        position: relative;
        float: left;
        display: inline-block;
    }

    // right side contains icons for chat, playlist, search
    .right-side {
        position: relative;
        float: right;
        display: inline-block;
        ul {
            display: inline;
            li {
                display: inline-block;
            }

            // tabs
            li.tab {
                border-bottom: rem(3) solid $base-accent-color;
                // pushes the border to the bottom of the bar
                padding-bottom: rem(13);
                &:hover {
                    cursor: pointer;
                    border-color: darken($base-secondary-color, 20);
                }
                @include media($medium-screen-up) {
                    display: none;
                }
                &.selected {
                    border-color: $base-secondary-color;
                }
            }
        }
    }

    // Icons
    i {
        color: $base-secondary-color;
        text-shadow: .05rem .05rem .2rem $dark-gray;
        &:hover {
            cursor: pointer;
        }
    }

    .search-icon {
        padding-left: $top-bar-padding;
        &:hover {
            cursor: pointer;
        }
        .not-flipped {
            @include transform(rotateY(0deg));
            @include transform-origin(center top);
            @include transform-style(preserve-3d);
            @include transition-property(transform);
            @include transition-duration($flip-transition-time);
            @include transition-timing-function(linear);
        }
        .flipped {
            @include transform(rotateY(180deg));
            @include transform-origin(center top);
            @include transform-style(preserve-3d);
            @include transition-property(transform);
            @include transition-duration($flip-transition-time);
            @include transition-timing-function(linear);
        }
    }
}
