.player {
    $seek-bar-color: $amber;
    $progress-bar-color: $base-background-color;
    $seek-bar-height: rem(24);
    $seek-bar-width-small: rem(80);
    $seek-bar-width-medium: rem(200);
    $seek-bar-width-large: rem(300);

    @include outer-container;
    &.disabled {
        opacity: 0.5;
    }
    .playpause {
        @include span-columns(1);
    }
    .seek-bar {
        @include span-columns(9);
        position: relative;
        &:hover {
            cursor: pointer;
        }
        height: $seek-bar-height;
        background-repeat: repeat-x;
        background-color: $seek-bar-color;
        .progress-bar {
            display: block;
            width: 0%;
            height: 100%;
            background-color: $progress-bar-color;
        }
    }
    .song-time {
        color: $base-accent-color;
    }
    .ff-button {
        @include span-columns(1);
    }
    .song-title {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 0;
        left: 0;
        color: $base-accent-color;
        overflow: hidden;
    }
    .vendor-icon {
        @include span-columns(1);
    }
}
