$search-menu-border-color: $dark-gray;
$search-menu-background: lighten($search-menu-border-color, 5);
$search-menu-color: #fff;
$search-color: $deep-orange;
$search-menu-border: 1px solid $search-menu-border-color;
$search-menu-background-hover: $base-accent-color;
$search-menu-color-hover: #fff;
$search-menu-size-large: rem(680);
$search-menu-size-medium: $search-menu-size-large * 0.8;
$search-menu-size-small: $search-menu-size-large * 0.5;
.search {
    display: none;
}
.search-results {
    tr {
        @include span-columns(12);
        @include row(table);
    }
    td.song-title {
        @include span-columns(10);
        @include pad;
    }
    td.add-to-playlist {
        @include span-columns(2);
        @include pad;
        @include reset-display;
        text-align: center;
        color: $search-color;
        &:hover {
            cursor: pointer;
            background-color: $search-color;
            color: $base-background-color;
        }
    }
    .highlight {
        font-weight: bold;
        color: $search-color;
        background-color: inherit;
    }
}
.results-message {
    display: none;
}
.no-results {
    display: none;
}
.query {
    color: $search-color;
    font-weight: bold;
}
.in-playlist {
    display: none;
}
.added {
    display: none;
    @include flash($base-accent-color);
    color: $base-background-color;
    text-align: center;
}
