<template name="playlist">
  <table class="playlist">
    <thead></thead>
    <tbody>
      {{#if noSongs}}
      <p class="empty-playlist-message">
        The playlist is empty. To add music, search for a song on the <span class="search-text">Search</span> tab.
      </p>
      {{/if}}
      {{#with currentSong}}
        <tr class="current-song">
          <td>
            <div class="now-playing">Now Playing</div>
            {{title}}
          </td>
        </tr>
      {{/with}}
      {{#each song}}
        <tr>
          <td class="song">{{title}}</td>
          <td class="upvote {{voteDisabled}}" title="{{tooltip}}">
            <i class="fa fa-fw fa-lg {{thumbIcon}}"></i>
          </td>
          <td class="num-upvotes" title="Number of votes up">
            <i class="fa fa-fw fa-lg fa-arrow-circle-up"></i>
            {{upvotes}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>
