<template name="player">
  {{#with playingSong}}
    {{> hostPlayer}}
  {{/with}}
</template>

<template name="hostPlayer">
  <!--{{#with playingSong}}-->
    <!--{{loadStreaming}}-->
    <ul class="player {{playerDisabled}}">
      <li class="backward-fifteen player-button">
        <i class="fa fa-lg fa-fw fa-backward"></i>
      </li>
      <li class="playpause player-button">
        <i class="fa fa-play fa-fw fa-lg"></i>
      </li>
      <li class="forward-fifteen player-button">
        <i class="fa fa-fw fa-forward fa-lg"></i>
      </li>
      <li class="seek-bar">
        <span class="progress-bar"></span>
      </li>
    </ul>
  <!--{{/with}}-->
</template>
