<template name="playerPage">
  <div class="player-page">
    {{> topBar}}
    {{> chat}}
    {{> playlist}}
    {{> search}}
  </div>
    {{> bottomBar}}
</template>

<template name="topBar">
  <header class="top-bar">
    <nav class="tabs">
      <ul>
        <li class="tab tab-search">Search</li>
        <li class="tab selected tab-playlist">Playlist</li>
        <li class="tab tab-chat">Chat</li>
      </ul>
    </nav>
  </header>
</template>

<template name="bottomBar">
  <header class="bottom-bar">
    {{> player}}
  </header>
</template>
