<template name="playerPage">
  <div class="player-page">
    {{> topBar}}
    <div class="content">
      {{> chat}}
      {{> playlist}}
    </div>
  </div>
  {{> search}}
</template>

<template name="topBar">
  <header class="top-bar">
    <div class="left-side">
      {{> player}}
    </div>
    <div class="right-side">
      <ul>
        <li class="tab selected">
          <i class="fa fa-fw fa-comments-o fa-lg i-mobile"></i>
        </li>
        <li class="tab">
          <i class="fa fa-fw fa-bars fa-lg i-mobile"></i>
        </li>
        <li class="search-icon js-menu-trigger sliding-menu-button">
          <i class="fa fa-fw fa-search fa-lg not-flipped i-mobile"></i>
        </li>
      </ul>
    </div>
  </header>
</template>
