<template name="player">
  <div class="player">
    {{#if mainPlayer}}
      {{> advancedPlayer}}
    {{else}}
      {{> regularPlayer}}
    {{/if}}
  </div>
</template>

<template name="advancedPlayer">
  {{loadStreaming}}
  <div class="advancedPlayer">
    <div class="seek-bar"></div>
    <div class="seek-time"></div>
    <div class="player-controls">
      <i class="fa fa-play fa-fw fa-lg i-mobile"></i>
      <i class="fa fa-play fa-fw fa-2x i-tablet-up"></i>
      <i class="fa fa-fast-forward fa-lg i-mobile"></i>
      <i class="fa fa-fast-forward fa-2x i-tablet-up"></i>
    </div>
  </div>
</template>

<template name="regularPlayer">
  <div class="regularPlayer">
    <div class="seek-bar"></div>
    <div class="seek-time"></div>
    <div class="player-controls">
      <i class="fa fa-play playpause fa-fw fa-lg i-mobile"></i>
      <i class="fa fa-play playpause fa-fw fa-2x i-tablet-up"></i>
    </div>
  </div>
</template>
