<template name="player">
  <ul class="player">
    {{#if mainPlayer}}
      {{loadStreaming}}
    {{/if}}
    <li class="playpause">
      <i class="fa fa-play fa-fw fa-lg i-mobile"></i>
    </li>
    <li>
      <div class="seek-bar">
        <span class="progress-bar">
          <p class="song-time">0:00</p>
        </span>
      </div>
    </li>
    {{#if mainPlayer}}
      <li>
        <i class="fa fa-fw fa-fast-forward fa-lg i-mobile"></i>
      </li>
    {{/if}}
    <li class="vendor-icon">
      <i class="fa fa-soundcloud fa-fw fa-lg i-mobile"></i>
    </li>
  </ul>
</template>
